# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\server_postgres\BT_tranning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
